# Basic Python

## 1. Split this string

In [1]:
s = "Hi there Sam!"

In [3]:
print(s.split())

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742

In [5]:
print('The Diameter of {} is {} Kilometers'.format(planet,diameter))

The Diameter of Earth is 12742 Kilometers

## 3. In this nest dictionary grab the word "hello"

In [16]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [22]:
e = d['k1'][3]['tricky'][3]['target'][3]
print(e)

hello

# Numpy

In [23]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [25]:
z = 10*[0]
print(z)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [26]:
f = 10*[5]
print(f)

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

## 5. Create an array of all the even integers from 20 to 35

In [27]:
arr = [i for i in range(20,35,2)]
print(arr)

[20, 22, 24, 26, 28, 30, 32, 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [28]:
array = [[j+(3*i) for j in range(0,3)] for i in range(0,3)]
print(array)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [36]:
a = np.array([1,2,3])
b = np.array([4,5,6])
a = np.append(a,b)
print(a)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [37]:
import pandas as pd

In [63]:
df = pd.DataFrame([['Apple','Red'],['Banana','Yellow'],['Orange','Orange']],columns=['Fruits','Colors'])
print(df)

   Fruits  Colors
0   Apple     Red
1  Banana  Yellow
2  Orange  Orange

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [55]:
from datetime import date, timedelta
s = date(2023,1,1)
e = date(2023,2,10)

diff = e-s
l =[]
for day in range(diff.days):
    date = (s + timedelta(days = day)).isoformat()
    l.append(date)

for t in range(len(l)):
  print(l[t])

2023-01-01
2023-01-02
2023-01-03
2023-01-04
2023-01-05
2023-01-06
2023-01-07
2023-01-08
2023-01-09
2023-01-10
2023-01-11
2023-01-12
2023-01-13
2023-01-14
2023-01-15
2023-01-16
2023-01-17
2023-01-18
2023-01-19
2023-01-20
2023-01-21
2023-01-22
2023-01-23
2023-01-24
2023-01-25
2023-01-26
2023-01-27
2023-01-28
2023-01-29
2023-01-30
2023-01-31
2023-02-01
2023-02-02
2023-02-03
2023-02-04
2023-02-05
2023-02-06
2023-02-07
2023-02-08
2023-02-09

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [57]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [58]:
df = pd.DataFrame(lists,columns=['No','Name','age'])
print(df)

   No Name  age
0   1  aaa   22
1   2  bbb   25
2   3  ccc   24